@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}
.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.grid-container{
max-width: 980px;
margin: auto;
}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-bottom: 2px solid teal;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: Teal;
}

header .header-icons-container .icons {
    width: 300px;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
    margin-top: auto;
    cursor: pointer;
}

header .header-icons-container .icons img {
    width: 40px;
}

header .header-icons-container .icons img:hover {
    transform: scale(1.05);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    align-items: center;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img {
    width: 220px;
    height: 90px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 24px;
}

/* Main Content */
.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background: url("/assets/pexels-thisisengineering-3861969-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;

}

.home-main-tittle {
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: white;
    text-align: center;
}

.home-main-boton {
    width: 125px;
    height: 50px;
    background: Teal;
    display: grid;
    align-items: center;
    border-radius: 8px;
    border-style: none;
}

.home-main-boton a {
    font-weight: 700;
    font-size: 18px;
}
.home-main-boton:hover {
    transform: scale(1.05);
}

/* Styles for Main Blogs */
.blogs-main{
    display: grid;
    margin-top: 2px;
}
.blogs-news-container{
    background-color: LightSeaGreen;
    padding: 0 50px 40px;
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-main-new h3{
margin-left: 40px;
}
.blogs-news-img-container{
    grid-column: 1;
}
.blogs-news-img-container img{
width: 85%;
}
.blogs-news-info-container{
    grid-column: 2;
}
.blogs-news-info-container p{
margin-bottom: 35px;
}
.blogs-posts-container{
    padding: 0 50px 40px;
}
.blogs-posts-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}
.blogs-boton{
    border: 1px solid green;
    padding: 10px 15px;
    font-size: 12px;
}

/* Main Blogs -->> Ultimas noticias */
.blogs-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}
.blogs-posts-container .post-container p{
    margin-bottom: 35px;
}
.blogs-posts-container .post-container img{
    width: 100%;
}
footer{
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid teal;
    text-align: center;
}
footer p{
    color: white;
    margin-top: 30px;
}

/* Styles for BlogPrincipalPage */

.blogpost-img-container{
    padding: 0 50px 40px;
    margin-top: 2px;
}
.blogpost-img-container img{
    width: 100%;
    border-radius: 4px;
}
.blogpost-main-container{
    padding: 0 50px 40px;
}
.blogpost-main-container h3{
    border-bottom: 1px solid green;
    padding-bottom: 20px;
}
.blogpost-main-container article h1{
    font-size: 32px;
}

.contact-main-container{
    background-color: #20b2aa;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    min-height: 250px;
}
.contact-main-container img{
    width: 100px;
}
.contact-main-container div{
    display: inline-block;
    width: 49.5%;
    height: 100%;
}
.contact-main-container div a{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.contact-main-container .contact-left, .contact-right{
    text-align: initial;
    margin-top: 85px;
}